body{
    font-family: "Lato";
}

.main-content a {
  text-decoration: none;
}

.header-logo a{
 text-decoration: none  !important;
  color: transparent !important;
}

.template-base{
  background-color: #fdfdfd;
}

ul{
  padding: 0;
}



.br-card .card-content,
.br-card .front .content {
padding: 0;
}
.br-card .card-content *:last-child,
.br-card .front .content *:last-child {
margin-bottom: 0;
}
.br-card .front .header,
.br-card .card-header {
padding: var(--card-padding) var(--card-padding) 0;
}
.br-card .front .footer,
.br-card .card-footer {
padding: 0 var(--card-padding) var(--card-padding);
}
.br-card.h-fixed .card-content {
max-height: var(--card-height-fixed);
overflow-y: auto;
}
.br-card.h-fixed .card-content::-webkit-scrollbar {
height: var(--spacing-scale-base);
width: var(--spacing-scale-base);
}
.br-card.h-fixed .card-content::-webkit-scrollbar-track {
background: var(--gray-10);
}
.br-card.h-fixed .card-content::-webkit-scrollbar-thumb {
background: var(--gray-30);
}
.br-card.h-fixed .card-content:hover::-webkit-scrollbar-thumb {
background: var(--gray-40);
}
.br-card.h-fixed .card-footer {
padding-top: var(--card-padding);
}
.br-card.hover:hover {
background-image: linear-gradient(rgba(var(--color-rgb), var(--hover)), rgba(var(--color-rgb), var(--hover)));
}
.br-card.inverted, .br-card.dark-mode {
--color: var(--color-dark);
--color-rgb: var(--color-dark-rgb);
--text-color: var(--color);
--interactive: var(--interactive-dark);
--interactive-rgb: var(--interactive-dark-rgb);
--visited: var(--visited-dark);
--hover: var(--hover-dark);
--pressed: var(--pressed-dark);
--focus-color: var(--focus-color-dark);
--focus: var(--focus-color);
}

.link-com-linha:before {
  content: " ";
  display: block;
  position: absolute;
  top: -2px;
  height: 2px;
  width: 50px;
  background-color: #2957a4;
  right: 0;
}

.links-acesso-rapido .br-card{
  background-color: #fff;
    display: flex;
    box-shadow: 1px 0px 15px -4px #bdbdbd;
    height: 164px;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    width: 207px;

}

.links-acesso-rapido .fa-lg {
    font-size: 2.5rem !important;
    background-position: 0px 0px;
    width: 100%;
    height: 50%;
    color: #2670e8;
    padding-top: 25px;
}

.links-acesso-rapido p{
  color: #0c326f;
}

.links-acesso-rapido .card-title{
    text-align: center;
    padding: 13px 18px 13px 18px;
    margin: 0;
    font-size: 0.9rem;
    text-transform: none;
}

.links-acesso-rapido {
    background: url(../assets/img/lagoa.jpg) center center no-repeat;
    background-color: #ebf0f3;
        margin-left: calc(-49.5vw + 50%);
    margin-right: calc(-49.5vw + 50%);
    height: 350px;
    background-repeat: no-repeat, no-repeat;
    background-position: right, left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.links-acesso-rapido .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    width: 158px;
    height: 125px;

}

.links-acesso-rapido .card:hover{
      background-color: #eaeaea;
}

.links-acesso-rapido .card-body {
    flex: 1 1 auto;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    font-size: 1rem;
}

/*
.links-acesso-rapido .card-header{
display: flex;
align-items: center;
justify-content: center;
width: 200px;

}

.links-acesso-rapido .card-content{  
float: none;
position: relative;  
}

.links-acesso-rapido .card-content p{
  font-weight: 800;
  padding-top: 5px;
  text-align: center;
}*/

.br-header .header-menu .header-subtitle {
  font-size: 12px;
}

/* Inicio Carrosel*/



/*# sourceMappingURL=carousel.css.map*/

/* Fim Carrosel */

/* transmissoes */

.transmissoes .br-card{
    margin-bottom: 0 !important;
}

.transmissoes .card-content{
  position:relative;
  text-align:center;
}


.transmissoes a{
  text-align: right;
  float: right!important;
}


.transmissoes .card-content .icone-play{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: -35px 0 0 -35px;
  border: 0 none;
  font-size: 70px;
  color: #fff;
}

.transmissoes .card-footer {
  background-color: transparent;
  padding: 6px 0px;
}

.transmissoes .link-mais-transmissoes{
  position: relative;
}

.transmissoes .link-mais-transmissoes a{
  position: absolute;
  top: 50%;
  left: 43%;
}

.transmissoes .card-footer p{
  font-weight: 700;
  font-size: 14px;
  text-align: left;
}

/* fim transmissoes*/

/* inicio timeline */

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ul.timeline > li p, ul.timeline > li > ul >li{
  padding-left: 34px;
}

.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #232323;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 50px 20px 50px;;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content ul{
    padding: 20px 0px 20px 0;
    direction: rtl;
}

.main-timeline .timeline:nth-child(2n) .title{
    text-align: right;
}




/* fim timeline */

/* inicio noticias */

.b-0 {
  bottom: 0;
}
.bg-shadow {
  background: rgba(76, 76, 76, 0);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
  background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
.top-indicator {
  right: 0;
  top: 1rem;
  bottom: inherit;
  left: inherit;
  margin-right: 1rem;
}
.overflow {
  position: relative;
  overflow: hidden;
}
.zoom img {
  transition: all 0.2s linear;
}
.zoom:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.w-100 {
  width: 100%!important;
}

.position-relative {
  position: relative!important;
}

.position-absolute{
  position: absolute;
}

.text-light {
  color: #f8f9fa!important;
}

.text-white {
  color: #fff!important;
}

.p-1 {
  padding: 0.25rem!important;
}

.rounded-0 {
  border-radius: 0!important;
}

.badge-primary {
  color: #fff;
  background-color: #e52207;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

/* fim noticias */

/* banner info */

.banner{
  margin-left: calc(-49.5vw + 50%);
  margin-right: calc(-49.5vw + 50%);
  background-color: #eaf3fa;
  margin-top: 4% !important;
  /*position: relative;*/
}

.banner .banner-img{
  padding-left: 11%;
}
/*
.banner .banner-desc{
  width: 77%;
    height: 50px;

    position: absolute;
    top: 20%;
    left: 50%;
    margin: -48px 0 0 -1px;
}*/



.banner .banner-titulo{
  margin-top: 13%;
}

.banner .banner-titulo span{
  transition: border .5s ease-in-out;
  border-bottom: 4px solid #cbd7e9;
  display: inline;
  padding-bottom: 1px;
  font-size: 27px;
  padding-right: 0px;
  font-weight: 800;
  color: #333;
}

.banner .banner-texto{
  margin: 30px 0;
  display: block;
  line-height: 25px;
  font-size: 15px;
  max-width: 80%;
}

/* fim banner info */

/* inicio footer */

.br-footer {
    border-top: none !important;
}

.br-footer .container-lg{
  padding: 0 12% 0 !important;
}

.br-footer .br-list.horizontal .br-item, .br-footer .br-list.horizontal .br-list .br-item {
  min-height: 0;
  padding: 0;
  padding: 7px 0px 7px;
}

.social-network .social-network-title{
  margin-bottom: 0 !important;
}

/* fim footer */


/* formulario contato */
.contato .contato-informacoes .contato-subtitulo-2 {
  margin-bottom: 40px;
}

.contato .contato-subtitulo-1{
  font-weight: 600;
  margin-bottom: 0;
}

.contato .contato-ul li:first-child{
  font-weight: 700; 
  font-size: 19px; 
}

.contato .contato-ul li{
  padding-bottom: 10px;
}
.contato .contato-link{
  font-weight: 600; 
}

/* fim formulario contato */


/* inicio mesa diretora */


.vereadores img, .mesa-diretora img{
  border-radius: 50% !important;
  box-shadow: 0px 5px 5px 0px #adb5bd;
  width: 12rem;
  margin: auto;
  display: block;
}

.mesa-diretora .nome-vereador, .vereadores .nome-vereadores{
  font-weight: 700;
}

.mesa-diretora .avatar, .vereadores .avatar {
  margin: 0 auto;
}

.mesa-diretora .avatar .texto, .mesa-diretora .avatar .nome-vereador, .vereadores{
  text-align: center;
}

.mesa-diretora .comissoes li, .vereadores  {
    font-weight: 600;
  }


/* fim mesa diretora */

/* inicio vereadores */


/*   fim vereadores */


/* inicio vereador */

.vereador .about-list a{
    text-decoration: underline;
}

.vereador .informacoes-vereador .informacoes-vereador-label{
  width: 120px;
  display: inline-block;
}

.informacoes-vereador-item, .informacoes-vereador-item-historico{
  text-align: justify;
  list-style: none;
  padding-left: 0;
  line-height: 180%;
}

.informacoes-vereador-item-historico .informacoes-vereador-valor{

}


/*  inicio footer  */

.text-down-05, .br-footer .br-item{
  color: #fff;
}

.header-social-network .br-button{
  height: 17px;
}

/* fim footer */


/* inicio vereador */

.about-list .media {
  padding: 5px 0;
}
/*
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}*/


.about-list label {
  color: #000000;
  font-weight: 600;
  /*width: 96px;*/
  margin: 0;
  /*position: relative;*/
}

.about-list p {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.45;
  margin-bottom: 16px;
  margin-top: 0;
}

.about-avatar img {
  vertical-align: middle;
  border-style: none;
}
.about-avatar img {
  max-width: 100%;
}


/*  fim vereador */



/* inicio menu acesso rapido mobile*/

.br-header .header-actions .header-functions .br-list, .br-header .header-actions .header-links .br-list {
  background: var(--background);
  left: -8em;
}
/* fim menu acesso rapido mobile*/


@media only screen and (min-width: 320px) and (max-width: 480px){
  .links-acesso-rapido{
      background: none;
      height: 426px;
  }

  .links-acesso-rapido .card {
      margin-left: 5%;
      margin-bottom: 5%;
  }

  .links-acesso-rapido .br-card {
    width: 183px;
  }

  .banner .banner-img {
    max-width: 100%;
  }

  .banner .banner-img img {
    width: 100%;
  }

  .banner .banner-titulo {
    margin-left: 50px;
  }

  .banner .banner-texto {
    margin: 30px 50px;
  }

  /*carrosel*/
  .br-carousel {
    min-height: 222px !important;
  }

  .carousel-stage {
    height: 223px !important;
  }

  .carousel-step {
    height: 52px !important;
    min-height: 52px !important;
  }

  .transmissoes .card-content {
    margin-bottom: 40px;
  }

  .transmissoes .link-mais-transmissoes a {
    margin: -42px 0 0 -25px;
    left: 64%;
  }

  .transmissoes .card-content img {
    width: 372px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  .links-acesso-rapido .col-md{
    padding-right: 0;
    width: 31.3% ;
  }

  /*carrosel*/
  .br-carousel{
    min-height: 222px !important;
  }

  .noticias .col-sm{
    min-width: 100% ;
  }

  .noticias .col-sm img{
    min-width: 100% ;
  }

  .noticias .card-content img{
    width: 50%;
  }

  /*.main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline .timeline-content ul{
        width: 95%;
        text-align: center;
        padding: 10px 0;
        direction: unset;
    }
    .main-timeline .title {
        margin-bottom: 10px
    }*/
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
  .links-acesso-rapido .col-md{
    padding-bottom: 40px;
    width: 33.3%;
  }

  .noticias .col-sm{
    min-width: 100% ;
  }

  .banner .banner-img{
    margin-left: 0%;
  }

  /*.main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline .timeline-content ul{
        width: 95%;
        text-align: center;
        padding: 10px 0;
        direction: unset;
    }
    .main-timeline .title {
        margin-bottom: 10px
    }*/
}

/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-width: 720px) and (max-width: 1280px) {

  .links-acesso-rapido .br-card {
    width: 130px;
  }

    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 30px 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content ul{
        padding: 10px 0px 10px 0;
        direction: rtl;
    }

}

/* (1366x768) WXGA Display */
@media  only screen and  (min-width: 1281px) and (max-width: 1366px) {
  .links-acesso-rapido .br-card {
    width: 172px;
  }
}

/* (1440x900) WXGA+ Display */
@media  only screen and (min-width: 1367px) and (max-width: 1440px) {

  .links-acesso-rapido .br-card {
    width: 172px;
  }
}

/* (1680x1050) WSXGA+ Display */
@media only screen and (min-width: 1441px) and (max-width: 1680px) {

  .links-acesso-rapido .br-card {
    width: 211px;
  }

}

/* (1920x1080) Full HD Display */
@media  only screen and (min-width: 1681px) and (max-width: 1920px) {
    /* insert styles here */

}





